/**Quita CSS de SARA**/
#marcoGeneral{
	width: auto;
	border: none;
	padding: 0px 0px;
}

/* iframe itself */

iframe#bloqueC {
    background: #ffffff;
    width: 100%;
    /*min-height: 600px;*/
}